
html,
body,
#app {
    height: 100%;
}
.lattice {
    position: absolute;
    margin-top: -483px;
    margin-left: 5px;
}
.lattice > div {
    height: 114px;
    width: 114px;
    position: absolute;
    margin: 3px 1px;
    background-color: #f3d13d;
    font-size: 42px;
    color: #fff;
    line-height: 114px;
    text-align: center;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.back-table {
    border-spacing: 0;
    border: #bebdbd 3px solid;
    width: 486px;
}
.back-table td {
    border: #bebdbd 3px solid;
    padding: 0;
    height: 114px;
    width: 117px;
}
