@for $i from 1 through 4 {
  @for $j from 1 through 4 {
    .p-#{$i}-#{$j} {
      -webkit-transform: translate3d(($j - 1) * 120px, ($i - 1) * 120px, 0);
      -moz-transform: translate3d(($j - 1) * 120px, ($i - 1) * 120px, 0);
      -ms-transform: translate3d(($j - 1) * 120px, ($i - 1) * 120px, 0);
      -o-transform: translate3d(($j - 1) * 120px, ($i - 1) * 120px, 0);
      transform: translate3d(($j - 1) * 120px, ($i - 1) * 120px, 0);
    }
  }
}
