@for $i from 1 through 4 {
  @for $j from 1 through 4 {
    .p-#{$i}-#{$j} {
      -webkit-transform: translate3d(($j - 1) * 120px, ($i - 1) * 120px, 0);
      -moz-transform: translate3d(($j - 1) * 120px, ($i - 1) * 120px, 0);
      -ms-transform: translate3d(($j - 1) * 120px, ($i - 1) * 120px, 0);
      -o-transform: translate3d(($j - 1) * 120px, ($i - 1) * 120px, 0);
      transform: translate3d(($j - 1) * 120px, ($i - 1) * 120px, 0);
    }
  }
}

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}

$bgcolor: #EEE4DA #EDE0C8 #F2B179 #F49563 #F5794D #F55D37 #EEE863 #EDB04D #ECB04D #EB9437 #EA7821 #EA7821;

@for $i from 1 through 12 {
  .n-#{pow(2, $i)} {
    background-color: nth($bgcolor, $i);
  }
}
